.underline {
    height: 0.25rem;
    width: 100%;
    background-color: cadetblue;
    margin-bottom: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0 0 0;
    min-height: 80vh;
    overflow-x: hidden;

    .flip-box {
        margin: 1rem 2rem;
        max-width: 24vw;
        perspective: 1000px;
        animation: animate 1s ease;
        overflow: hidden;

        .flip-box-inner {
            display: grid;
            place-items: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            -webkit-transition: .8s ease-in-out;
            grid-template-areas: "inner-div";

            .container-1, .container-1-back {
                grid-area: inner-div;
                backface-visibility: hidden;
                -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; 
              }
              
            .container-1-back {
                transform: rotateY(180deg);
              }

            .container-1, .container-1-back {
                h1 {
                    margin: 4px 0;
                }
            
                p {
                    text-align: justify;
                    font-size: 18px;
                    line-height: 1.4;
                    b {
                        font-size: x-large;
                    }
                }
            }
        }

        &:hover {
            .flip-box-inner {
                transform: rotateY(180deg);
              }
        }

        @media screen and (min-width: 768px) {
            @keyframes animate {
                0% {
                    max-width: 14vw;
                }      
                100% {
                    max-width: 24vw;
                }      
            }
        }

        @media screen and (max-width: 768px) {
            @keyframes animate {
                0% {
                    max-height: 10vh;
                }      
                100% {
                    max-height: 50vh;
                }      
            }
        }
    }
    
    .container-2 {   
        overflow: hidden;
        margin: 1rem 2rem;
        padding: 0.5rem 0.5rem;
        background: rgb(70,142,180);
        background: linear-gradient(129deg, #D62AD0 0%, #FB7AFC 46%, #FBC7F7 100%);
        border-radius: 50%;
        transition: transform 1s;
        animation: animate-2 1.5s ease;

        img {
            position: inherit;
            width: 20rem;
            height: 20rem;
            max-width: 24vw;
            max-height: 24vw;
            border-radius: 50%;
        }

        @keyframes animate-2 {
            0% {
                transform: scale(0.1);
            }    
            100% {
               transform: scale(1);
            }        
        }

        &:hover {
            transform: skew(20deg, -30deg);
        }
    }
}

@media screen and (max-width:768px) {
    .container {
      flex-direction: column;
      height: auto;

      .flip-box {
          max-width: 80vw;
      }

      .container-2 {
          img {
              max-width: 50vw;
              max-height: 50vw;
          }
      }
    }
  }