footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 24px;
    background-color: rgba(98, 131, 149, 0.6);
    color: white;

    .credit {
        height: auto;
        background-color: rgba(43, 68, 82, 0.3);
    }
}